apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: pumpkin-be-hpa
  namespace: pumpkin-be
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: pumpkin-be
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
